Data set available at [this link](https://economistsview.typepad.com/economics421/files/Data-for-Problem-3.xls).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_excel('Data-for-Problem-3.xls', usecols=[1,2])

In [3]:
data.head()

   SALARY  YEARS
0   105.2     36
1    91.3     30
2    72.5     29
3    74.3     28
4   103.5     26

In [4]:
sorted_data = data.sort_values(by='YEARS', axis=0).reset_index(drop=True)

In [21]:
n, k = data.shape

In [6]:
ignored = n//3

In [7]:
lowest_y = sorted_data.iloc[:ignored]['SALARY'].apply(np.log).values.reshape(-1,1)
lowest_X = sorted_data.iloc[:ignored]['YEARS'].values.reshape(-1,1)

In [8]:
highest_y = sorted_data.iloc[-ignored:]['SALARY'].apply(np.log).values.reshape(-1,1)
highest_X = sorted_data.iloc[-ignored:]['YEARS'].values.reshape(-1,1)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
lo_reg, hi_reg = LinearRegression(), LinearRegression()

In [11]:
lo_reg.fit(lowest_X, lowest_y)
hi_reg.fit(highest_X, highest_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [12]:
print(lo_reg.intercept_, lo_reg.coef_)
print(hi_reg.intercept_, hi_reg.coef_)

[3.82405563] [[0.03262678]]
[4.0918736] [[0.01390615]]

In [13]:
lo_y_hat = lo_reg.predict(lowest_X)
hi_y_hat = hi_reg.predict(highest_X)

In [14]:
lo_u_hat = lowest_y - lo_y_hat
hi_u_hat = highest_y - hi_y_hat

In [22]:
lo_sigma_sq, hi_sigma_sq = lo_u_hat.T.dot(lo_u_hat)/(ignored - k-1), hi_u_hat.T.dot(hi_u_hat)/(ignored - k-1)

In [23]:
test_stat = hi_sigma_sq/lo_sigma_sq

In [24]:
alpha = 0.05 
df, _ = lowest_X.shape

In [25]:
from scipy.stats import f

In [26]:
f_crit = f.ppf(1-alpha, df, df)

In [27]:
if test_stat > f_crit:
    print('REJECT NULL HYP. -> There is heteroskedasticity.')
else:
    print('Failed to reject the null hypothesis.')

REJECT NULL HYP. -> There is heteroskedasticity.